
<div *screenBelowLarge class="title-bar-small" >
    <div class="glyphicon glyphicon-menu-hamburger small-menu-glyph">
    </div>   
    <div class="small-image-holder" >
          <img class="small-image" src="assets/logo.png">     
    </div>    
    <div  class="glyphicon glyphicon-option-vertical small-menu-glyph title-bar-flex-right">        
    </div>
</div>



<div *screenLarge class="title-bar user-title-bar">
 <img src="assets/logo.png" alt="Green Nations Logo">
    <div class="menu-area">
            <fw-top-bar></fw-top-bar>      
            <fw-menu *ngIf="!menuService.isVertical"></fw-menu>
    </div>
</div>
