:host
{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    flex-grow:1;
}

:host(.vertical-menu)
{
    display: inline-block;
    max-width: 200px;
    min-width: 200px;    
    padding-left:4px;
    flex-grow:0;
    background-color: #555;
    overflow:auto;
}

ul
{
    list-style-type: none;
    margin:0;
    padding:0;
}

ul > li{
    display:inline-block;
}

.selected {
    background-color: pink;
    
  }
